#navbarMain {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navMainInner {
  display: flex;
  /* border: solid black 1px; */
  max-width: 1400px;
  width: 100%;
  height: 150px;
}

.navLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: solid 1px; */
  width: 25%;
  height: 100%;
}

.navRight {
  display: flex;
  flex-direction: column;
  /* border: solid 1px; */
  width: 75%;
  height: 100%;
}

.navRightUpper {
  color: grey;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border: 1px solid; */
  height: 50%;
  width: 100%;
}

.navRightLower {
  display: flex;
  justify-content: space-around;
  align-items: end;
  /* border: 1px solid; */
  height: 50%;
  width: 100%;
}

.text1 {
margin-right: 10px;
}

.text2 {
  margin-right: 5px;
}

.text3 {
  margin-right: 10px;
}

.logoTop {
  color: #09bab5;
  font-size: 60px;
  font-weight: 500;
  /* border: 1px solid red; */
}



.logoBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.logoBottomLeft {
  font-size: 42px;
  font-weight: 500;
}

.logoBottomMiddle {
  font-size: 30px;
  font-weight: 200;
  margin-right: 5px;
  margin-left: 5px;
}

.logoBottomRight {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.logoBottomRightTop {
  font-size: 12px;
  font-weight: 600;
}

.logoBottomRightBottom {
  font-size: 12px;
  font-weight: 600;
  line-height: 10px;
}

.pages {
  color: black;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}

.GP {
  width: 125px;
padding: 10px;
color: white;
background-color: #09bab5;
border: none;
border-radius: 5px;
font-size: 15px;
margin-bottom: 10px;
}



