.footerMain {
    width: 100vw;
    height: 500px;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
}

.footerInfo {
    width: 100%;
    height: 100%;
    display: flex;
}

.footerLeft {
    color: white;
    /* border: solid 1px red; */
    width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 10px;
}

.footerRight {
    color: white;
    /* border: solid 1px red; */
    width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 10px;
}

.footerInfo h3 {
    font-size: xx-large;
    margin-bottom: 5px;
}

.footerInfo p {
    font-size: large;
    margin-bottom: 3px;
    color: rgb(2, 252, 2);
}

.footerleftcenter {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
width: 100%;
/* border: solid white 1px; */

}

.footerend {
    width: 100%;
    /* border: solid white 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.ft1 {
    margin-left: 15px;
    color: rgba(255, 255, 255, 0.663);
}

.ft2 {
    margin-left: 15px;
    color: white;
    font-size: large;
    font-weight: bold;
}

.link1 {
    color: #089893;
    text-decoration: none;
}

.link1:hover {
    font-size: large;
}

.BBB {
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
}

.ftbtext1 {
    color: white;
    margin-left: 20px;
}

.ftbtext2 {
    color: rgba(255, 255, 255, 0.715);
    margin-left: 20px;
}

.rptbtn {
    background-color: #09bab5;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: medium;
    color: white;
}

.footerinnerend {
    width: 80%;
    height: 80%;
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fnetitle {
    text-align: center;
    font-size: x-large;
    color: white;
    font-weight: 600;
    margin-top: 20px;
}

.footform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    /* border: 1px solid white; */
    color: white;
}

.label1 {
    width: 87%;
text-align: left;
margin-top: 5px;
margin-bottom: 5px;;
}

.input1 {
width: 80%;
margin-top: 5px;
margin-bottom: 5px;
padding: 8px;
}

.subbtn1 {
    margin-top: 20px;
    padding: 10px;
    width: 87%;
    color: white;
    background-color: #09bab5;
    font-size: medium;
    border: none;
    border-radius: 5px;
}

.labeldiv {
    width: 90%;
display: flex;
align-items: flex-start;
justify-content: flex-start;
}